body {
    display: flex;
    justify-content: center;
    background-color: #6bd194;
    background-image: url("./arches.png");
}

h1 {
    align-self: center;
}

#calc-container {
    margin-top: 150px;
    display: flex;
    flex-flow: column;
    width: 280px;
    height: 250px;
    background-color: #ffdebd;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
    border-radius: 10%;
}

#fields {
    display: flex;
    flex-flow: column;
    padding-top: 10px;
}

#fields > * {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content:space-between;
    padding-top: 5px;
}
span {
    margin-left: 50px;
}

input {
    width: 60px;
    margin-right: 50px;
}

